---
import DarkToggle from "@/components/DarkToggle.astro";
import Header from "@/components/Header.astro";
import Intro from "@/components/Intro.astro";
import "@fontsource-variable/manrope";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>SPM</title>

    <style>
      html {
        font-family: "Manrope Variable", sans-serif;
      }
    </style>

    <script is:inline>
      const html = document.documentElement;
      let theme = localStorage.getItem("theme");

      if (theme === "dark") {
        html.classList.add("dark");
      }
    </script>
  </head>

  <body class="dark:bg-gray-900">
    <Header />
    <Intro />
    <DarkToggle />
  </body>
</html>
