---
import Github from "@/icons/Github.astro";
import Linkedin from "@/icons/Linkedin.astro";
import Section from "@/layouts/Section.astro";
---

<Section class="mt-32 xs:mt-24">
  <main
    class="mx-auto flex h-auto max-w-[62.5rem] flex-col items-center gap-10 xs:h-[calc(100vh-6rem)] xs:justify-center xs:text-center"
  >
    <h2 class="text-5xl xs:text-6xl lg:text-7xl">
      My name is Sergio Peña and I'm a full stack developer
    </h2>

    <p>
      Hi, I'm Sergio Peña and I'm a <strong>full stack developer!</strong>
      Welcome to my portfolio where you will find everything you need to know about
      me professionally. Software development is my
      <strong>profession</strong> and my <strong>passion</strong>. Backend,
      frontend, machine learning, scripting, automation, open source...
      Everything that has to do with coding is welcome.
      <strong>Let's work together?</strong>
    </p>

    <div class="w-full xs:flex xs:w-auto xs:gap-2">
      <a href="https://github.com/sergiopmdeveloper" target="_blank">
        <button
          class="flex w-full items-center justify-center gap-2 rounded-3xl bg-gray-800 px-8 py-3 font-bold text-white transition-[filter] hover:brightness-125"
        >
          GitHub

          <Github class="w-5 fill-white" />
        </button>
      </a>

      <a
        href="https://es.linkedin.com/in/sergio-pe%C3%B1a-mu%C3%B1oz-963b6a220"
        target="_blank"
      >
        <button
          class="mt-2 flex w-full items-center justify-center gap-2 rounded-3xl bg-gray-800 px-8 py-3 font-bold text-white transition-[filter] hover:brightness-125 xs:mt-0"
        >
          LinkedIn

          <Linkedin class="w-5 fill-white" />
        </button>
      </a>
    </div>
  </main>
</Section>
