---
interface Props {
  class?: string;
  id?: string;
  title?: string;
  contentSection?: boolean;
}

const { class: className, id, title, contentSection } = Astro.props;
---

<div
  class:list={[`w-full px-4 ${contentSection && "mt-36"}`, className]}
  id={id}
>
  <div class="container mx-auto">
    {
      title && (
        <h2 class="mb-10 text-5xl text-gray-800 dark:text-gray-200">{title}</h2>
      )
    }

    <slot />
  </div>
</div>
